@import './base.css';

#app {
  width: 100%;
  margin: 0;
  /* Remove margin */
  padding: 0;
  /* Remove padding */
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    /* Remove padding */
  }
}